language: php

matrix:
  fast_finish: true
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2

sudo: false

before_install:
  - travis_retry composer self-update

install:
- travis_retry composer install --prefer-dist --no-interaction

script:
- vendor/bin/phpunit --coverage-text

after_success:
- bash <(curl -s https://codecov.io/bash)
