name: Run Tests
on:
    push:
        branches:
            - master
            - develop

jobs:
    package-tests:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                operating-system: [ubuntu-latest]
                php-versions: ["8.2","8.1","8.0", "7.4", "7.3"]
                dependency-stability: ["prefer-stable"]

        name: P${{ matrix.php-versions }} - L${{ matrix.laravel }} - ${{ matrix.dependency-stability }} - ${{ matrix.operating-system}}

        steps:
            - uses: actions/checkout@v3
            - name: Install PHP versions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-versions }}
            - name: Install Dependencies
              if: steps.vendor-cache.outputs.cache-hit != 'true'
              run: composer update -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

            - name: Update Dependencies with latest stable
              if: matrix.dependency-stability == 'prefer-stable'
              run: composer update --prefer-stable
            - name: Update Dependencies with lowest stable
              if: matrix.dependency-stability == 'prefer-lowest'
              run: composer update --prefer-stable --prefer-lowest

            - name: Show dir
              run: pwd
            - name: PHP Version
              run: php --version

            # Code quality
            - name: Execute tests (Unit and Feature tests) via PHPUnit
              # Set environment
              env:
                  SESSION_DRIVER: array

              run: vendor/bin/phpunit --testdox
